<div class="d-flex flex-column align-center justify-content-center align-items-center">
    <div class="title m-4">
        <h2>你想對誰說幹話？</h2>
    </div>
    <form action="/" method="POST">
        <div class="card-wrapper d-flex justify-content-around align-items-center">
            {{#each person}}
            <div class="card bg-dark text-white col-3">
                <img src="{{this.image}}" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title text-dark">{{this.englishTitle}}</h5>
                </div>
                <div class="card-body">
                    <div class="custom-control custom-checkbox text-center">
                        <input type="radio" id="{{this.englishTitle}}" name="job" value="{{this.englishTitle}}" {{#if this.selected}} checked {{/if}}>
                        <label for="{{this.englishTitle}}">{{this.englishTitle}}</label>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="button m-4 text-center">
            <button class="btn btn-primary" type="submit">產生幹話</button>
        </div>
    </form>
    {{#if trashWord}}
    <div class="alert alert-success col-6 d-flex justify-content-center" role="alert">
        <h4 class="alert-heading">{{trashWord}}</h4>
    </div>
    {{/if}}
</div>

